.main-container-about{
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(138deg, rgba(37,36,99,1) 4%, rgba(76,21,107,1) 95%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.sub-container-about{
    padding: 4rem;
    border-radius: 20px;
    text-align: center;
    
    width: 800px;
    height: 400px;
    background-color: aliceblue;
}


.button-back{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2.4rem;
    background-color: rgb(31, 16, 67);
    margin: auto;
    text-align: center;
}
.h4bu{
    color: white;
}
.description-container-about{
    display: grid;
    gap: 4rem;
}
h2{
    margin-top: 1rem;
    margin-bottom: 2rem;
}